<FilesMatch .gitignore>
    Require all denied
</FilesMatch>
<FilesMatch LICENSE.txt>
    Require all denied
</FilesMatch>
<FilesMatch README.md>
    Require all denied
</FilesMatch>
<FilesMatch .git>
    Require all denied
</FilesMatch>

RewriteEngine on
RewriteRule ^([A-Za-z\d]+)$ "https://infotoast.org/memos/?link=$1" [R,L]